img {
    width: 40%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}

p {
    margin-top: 0.1em;
}

h2 {
    margin-top: -0.2em;
}

#social {
    margin-top: 2em;
}